@model KodiSoft_task_Gapunich.Typeproducts

@{
    ViewBag.Title = "DetaliTypeProduct";
}

<h2>DetaliTypeProduct</h2>

<div>
    <h4>Typeproduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditTypeProduct", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
